h1 {
  font-family: fantasy;
  font-size: 55px;
  text-align: center;
  padding-bottom: 100px;
  color: blue;
}

button {
  background-color: green;
  height: 35px;
}

li {
  position: relative;
  margin-left: auto;
  width: auto;
  background-color: cadetblue;
  margin: 2px;
}

.questionCard {
  padding: 10px;
  font-size: 22px;
  position: relative;
  align-self: center;
  width: auto;
  left: 15%;
}

body {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
